/*logo font - font-family: 'Raleway', sans-serif;*/
/*body font - font-family: 'Lato', sans-serif;*/
/*
  brand colors
  #99a1aa
  #ffffff
  #f4d35e
  #da4167
  #0d60ba
*/
html {
  font-size: 16px;
  position: relative;
}

body{
    background-image: url(../images/ao.gif);
    font-family: 'Lato', sans-serif;
    color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #f4d35e;
  text-decoration: none;
}

.add-pad {
  margin: 4rem 0;
}

.navbar {
  background-color: #fff;
  border: none;
}

.navbar-left,
.navbar-left a {
  font-family: 'Raleway', sans-serif;
  font-size: 2.75rem;
  margin-left: 2rem;
  color: #333;
  font-weight: 900;
  transition: color 0.75s;
  text-decoration: none;
}

.navbar-left a:hover {
  color: #f4d35e;
  text-decoration: none;
}

.navbar-right {
  margin: 0 1rem 0 0;
  height: 100%;
  display: flex;
}

.navbar-nav>li>a {
  color: #333;
}

.navbar-nav>li>a:hover,
.btn-default:hover {
  color: #f4d35e;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover,
.convert:hover {
  background-color: #f4d35e;
  color: #333;
}

.btn-default {
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
}

.btn-default:hover {
  background-color: #eee;
}

.wrench {
  margin: auto;
  color: #f4d35e;
}

.drop-title {
  margin: 1.25rem;
  color: #333;
}

#DGBinput {
  color: #333;
  margin: 0 0.5rem;
  width: 90%;
}

.convert {
  margin: 0 0.5rem;
  border: 1px solid #333;
  padding: 0.5rem;
}

.links {
  display: flex;
  margin: 0.4rem;
}

.top-container {
  margin-top: 5rem;
}

/*stats styling*/
.current-price,
.about-title {;
  font-size: 4.25rem;
  font-weight: 900;
  margin-top: 1rem;
}

.about-container {
  max-width: 55rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  color: #f4d35e;
}

.about-text {
  max-width: 38rem;
  text-align: justify;
}

.about-text-left {
  max-width: 38rem;
  text-align: left;
}

.stats {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.stat {
  display: flex;
  flex-direction: column;
}

.stat-title {
  font-size: 1.25rem;
}

.green {
  color: #2E7D32;
}

.red {
  color: #C62828;
}

/*chart styles*/
.chart-section {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: center;
}

/*footer styles*/
.footer {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
}

.f-a {
  position: relative;
  margin-top: 5rem;
}

.copyright {
  text-align: left;
  margin-left: 1rem;
}

.api-credit {
  text-align: right;
  margin-right: 1rem;
}

.hide {
  display: none;
}

/*responsive styles*/
@media only screen and (max-width: 1000px) {
  .navbar-left,
  .navbar-left a {
    margin: 0;
    font-size: 7rem;
    line-height: 1;
  }

  canvas {
     width: 100% !important;
     height: 500 !important;
  }

  .current-price {
    font-size: 5.65rem;
    margin: 3rem 0 2rem 0;
  }

  #hide-mobile {
    display: none;
  }

  .btn-default {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  .wrench {
    margin: 0.125rem 0 0 0;
    display: none !important;
  }

  .hide {
    display: block;
  }

  .btn-default {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.7rem;
  }

  .navbar-right {
    margin: 0;
    font-size: 1.75rem;
  }

  .navbar-fixed-top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 11rem;
  }

  .navbar-left a,
  .navbar-right,
  .navbar,
  .top-container {
    margin: 0;
  }

  .top-container {
    margin: auto;
  }

  .about-text {
    font-size: 1.5rem;
  }

  .stats {
    flex-wrap: wrap;
    padding: 0;
    max-width: 100%;
  }

  .stat {
    justify-content: space-between;
    padding: 0;
  }

  .stat-title {
    font-size: 5.5rem;
    margin-top: 1.5rem;
  }

  .stat-data {
    font-size: 4.25rem;
    margin-bottom: 1rem;
  }

  .chart-section {
    margin-top: 3rem;
  }

  .chart-title {
    font-size: 2.75rem;
  }

  .add-pad {
    margin: auto;
  }

  .footer {
    font-size: 1.5rem;
    margin: 2rem 0;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .copyright {
    margin-bottom: 1.75rem;
  }

  .api-credit {
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 800px) {
  .current-price {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .navbar-left a {
    font-size: 5.5rem;
  }

  .current-price {
    font-size: 4rem;
  }

  .about-title {
    font-size: 3rem;
    text-align: center;
  }

  .about-text {
    font-size: 1.25rem;
  }

  .stats {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .add-pad {
    margin: 0;
  }

  .col-xs-6 {
    margin: 1.5rem 0;
  }

  .footer {
    margin: 2rem 0;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
}

@media only screen and (max-width: 620px) {
  .current-price {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 550px) {
  .navbar-left a {
    font-size: 5rem;
  }

  .current-price {
    font-size: 3rem;
  }

  .stats {
    flex-direction: column;
    align-items: center;
  }

  .stat {
    margin: 0;
  }

  .stat-title {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 500px) {
  .navbar-left a {
    font-size: 4.5rem;
  }

  .navbar-right {
    font-size: 1.25rem;
  }

  .about-title {
    font-size: 2.75rem;
  }

  .stat-title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 470px) {
  .navbar-left a {
    font-size: 3rem;
  }

  .current-price {
    font-size: 2rem;
  }

  .about-title {
    font-size: 2.5rem;
  }

  .chart-title {
    font-size: 1.25rem;
  }
}
