/*logo font - font-family: 'Raleway', sans-serif;*/
/*body font - font-family: 'Lato', sans-serif;*/
/*
  brand colors
  #99a1aa
  #ffffff
  #f4d35e
  #da4167
  #0d60ba
*/
html {
  font-size: 16px;
  position: relative;
}

body{
    background-image: url(../images/ao.gif);
    font-family: 'Lato', sans-serif;
    color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #f4d35e;
  text-decoration: none;
}

.add-pad {
  margin: 4rem 0;
}

.navbar {
  background-color: #fff;
  border: none;
}

.navbar-left,
.navbar-left a {
  font-family: 'Raleway', sans-serif;
  font-size: 2.75rem;
  margin-left: 2rem;
  color: #333;
  transition: color 0.75s;
  text-decoration: none;
}

.navbar-left a:hover {
  color: #f4d35e;
  text-decoration: none;
}

.navbar-right {
  margin: 0 1rem 0 0;
  height: 100%;
  display: flex;
}

.navbar-nav>li>a {
  color: #333;
}

.navbar-nav>li>a:hover {
  color: #f4d35e;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover {
  background-color: #f4d35e;
  color: #333;
}

.links {
  display: flex;
  margin: 0.4rem;
}

.top-container {
  margin-top: 5rem;
}

/*stats styling*/
.current-price,
.about-title {;
  font-size: 4.25rem;
  font-weight: 900;
  margin-top: 1rem;
}

.about-container {
  max-width: 55rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  color: #f4d35e;
}

.about-text {
  max-width: 38rem;
  text-align: justify;
}

.about-text-left {
  max-width: 38rem;
  text-align: left;
}

.stats {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.stat {
  display: flex;
  flex-direction: column;
}

.stat-title {
  font-size: 1.25rem;
}

.green {
  color: #2E7D32;
}

.red {
  color: #C62828;
}

/*chart styles*/
.chart-section {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

/*footer styles*/
.footer {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
}

.f-a {
  position: relative;
  margin-top: 5rem;
}

.copyright {
  text-align: left
}

.api-credit {
  text-align: right
}
