/*logo font - font-family: 'Raleway', sans-serif;*/
/*body font - font-family: 'Lato', sans-serif;*/
/*
  brand colors
  #99a1aa
  #ffffff
  #f4d35e
  #da4167
  #0d60ba
*/
html {
  font-size: 16px;
}

body{
    background-image: url(http://thepatternlibrary.com/img/ao.gif);
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.add-pad {
  margin: 4rem 0;
}

.navbar {
  background-color: #fff;
  border-bottom: 0.25rem solid white;
}

.navbar-left,
.navbar-left a {
  font-family: 'Raleway', sans-serif;
  font-size: 2.75rem;
  margin-left: 2rem;
  color: #333;
  transition: color 1.2s;
  text-decoration: none;
}

.navbar-left a:hover {
  color: #f4d35e;
  text-decoration: none;
}

.top-container {
  margin-top: 7rem;
}

/*stats styling*/
.current-price {;
  font-size: 4.25rem;
  font-weight: 900;
  margin-top: 1rem;
}

.stats {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.stat {
  display: flex;
  flex-direction: column;
}

.stat-title {
  font-size: 1.25rem;
}

.green {
  color: #2E7D32;
}

.red {
  color: #C62828;
}

/*footer styles*/
.footer {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.footer a,
.footer a:hover {
  text-decoration: none;
  color: #fff;
}
